.rodape-site {
  background-color: #6278f7;
  background-image: url("/public/imagens/fundo.png");
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 64px;
  color: #fff;
}

.rodape-site .redes-sociais img {
  margin-right: 32px;
}
